.dictionary__container {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px;
}

p {
  letter-spacing: 3px;
}

.row__main form {
  width: 100%;
  display: grid;
}

input {
  padding: 6px 0 6px 10px;
  border: solid 0.5px cadetblue;
  border-radius: 8px;
}
