.dictionary__container {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px;
}

.row__main form {
  width: 100%;
  display: grid;
}

input {
  padding: 6px 0 6px 10px;
  border: solid 0.5px #f7d7b0;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
}
