.main__container {
  padding: 50px 50px 50px 50px;
  margin: 50px 30px 5px 50px;
  background-color: rgb(241, 217, 239);
  color: black;
  border-radius: 8px;
}

p {
  color: black;
  font-size: 60px;
}
