@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@300;400;500;600&family=Rubik+Moonrocks&family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f7d7b0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 8.5rem;
}

h2 {
  color: rgb(239, 69, 102);
  letter-spacing: 7px;
  margin-top: 8px;
}

h6 {
  color: rgb(239, 69, 102);
  transform: rotate(5deg);
}

div .frame {
  border: solid 1px #f7d7b0;
}

a {
  color: black;
  font-size: 25px;
}

a:hover {
  color: rgb(239, 69, 102);
}

@media screen and (max-width: 578px) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    margin-left: 4px;
  }

  h6 {
    transform: none;
    margin-left: 2px;
  }
}
